
.boo {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*#right-panels {
    border-radius: 20px;
    position:absolute;
    top:5vh;
    right:1vw;
    z-index: 100;
    width: 33vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: auto;
    font-family: 'Maven Pro', sans-serif;
}*/

#title-panel {
    
    position:absolute;
    top:5vh;
    right:1vw;
    z-index: 100;
    width: 33vw;
    height: 20vh;
    overflow: auto;
    font-family: 'Maven Pro', sans-serif;
    padding: 0px;
}

#story-panel {
    border-radius: 20px;
    position:absolute;
    top:25vh;
    right:1vw;
    z-index: 100;
    width: 33vw;
    height: 50vh;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: auto;
    font-family: 'Maven Pro', sans-serif;
}